{% extends "layout.html" %}

{% block content %}
Hello this is the dashboard page <br/>

<form>
    <div class="ui input">
        <input name="forward_pe" value="{{ forward_pe }}" type="text" placeholder="P/E Ratio">
    </div>

    <div class="ui input">
        <input name="dividend_yield" value="{{ dividend_yield }}" type="text" placeholder="Dividend Yield">
    </div>

    <div class="ui checkbox">
        <input type="checkbox" name="ma_50" {% if ma_50 %} checked {% endif %}>
        <label>Above 50 day MA</label>
    </div>

    <div class="ui checkbox">
        <input type="checkbox" name="ma_200" {% if ma_200 %} checked {% endif %}>
        <label>Above 200 day MA</label>
    </div>

    <button type="submit" class="ui button primary">Filter</button>
</form>

<button class="ui button add-stock-btn">Add Stock</button>

<table class="ui celled table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Forward PE</th>
            <th>Forward EPS</th>
            <th>Dividend Yield</th>
            <th>MA50</th>
            <th>MA200</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td data-label="symbol">{{ stock.symbol }}</td>
            <td data-label="price">{{ stock.price }}</td>
            <td data-label="forward_pe">{{ stock.forward_pe }}</td>
            <td data-label="forward_eps">{{ stock.forward_eps }}</td>
            <td data-label="dividend_yield">{{ stock.dividend_yield }}</td>
            <td data-label="ma50">{{ stock.ma50 }}</td>
            <td data-label="ma200">{{ stock.ma200 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- modal -->
<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      Add Stock Symbol
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Enter Stock Symbols</label>
                <textarea id="symbols-text"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Nope
      </div>
      <div id="save-stock" class="ui positive right labeled icon button">
        Add symbols
        <i class="checkmark icon"></i>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $(".add-stock-btn").click(() => {
            $(".ui.modal").modal("show")
        })

        $("#save-stock").click(() => {
            let _symbols      = $("#symbols-text").val()
            let stock_symbols = _symbols.split("\n")

            stock_symbols.forEach(element => {
                console.log(element)
                $.ajax({
                    url         : "/stock",
                    type        : "POST",
                    contentType : "application/json",
                    dataType    : "json",
                    data        : JSON.stringify({"symbol": element})
                })
            })

            $(".ui.modal").modal("hide")
        })
    })
</script>
{% endblock %}
